@tailwind base;
@tailwind components;
@tailwind utilities;

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.cls-1 {
    stroke: #e09945;
    stroke-width: 24px;
  }

  .cls-1, .cls-2, .cls-3 {
    fill: none;
    stroke-miterlimit: 10;
  }

  .cls-2 {
    stroke: #cc7e3f;
    stroke-width: 42px;
  }

  .cls-3 {
    stroke: #f7e3bd;
    stroke-width: 13px;
  }

  .cls-4 {
    fill: #e09945;
  }

  .cls-4, .cls-5 {
    fill-rule: evenodd;
  }

  .cls-5 {
    fill: #f4e4c1;
  }

  #pupila {
    box-shadow: 0 0 40px 40px rgba(213, 145, 0, 0.435), 0 -10px 10px 15px rgb(0, 0, 0, 0.7), 0 10px 15px 10px rgb(255, 255, 255, 0.5);
  }

  .circle {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }

  .particle {
    box-shadow: 0 0 4px 4px rgb(213, 145, 0)
  }


/* @keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  } */
  
  /* .stars {
      background: black url('/stars.png') repeat;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: -1000;

      -moz-animation:rotate 70s linear infinite, pulse 1s linear infinite;
    -ms-animation:rotate 70s linear infinite;
    -o-animation:rotate 70s linear infinite;
    -webkit-animation:rotate 70s linear infinite;
    animation:rotate 70s linear infinite;
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1000;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
  } */

  /* @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    from {
      scale: 1;
    }
    to {
      scale: 1.5;
    }
  } */