@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.cls-1 {
    stroke: #e09945;
    stroke-width: 24px;
  }

  .cls-1, .cls-2, .cls-3 {
    fill: none;
    stroke-miterlimit: 10;
  }

  .cls-2 {
    stroke: #cc7e3f;
    stroke-width: 42px;
  }

  .cls-3 {
    stroke: #f7e3bd;
    stroke-width: 13px;
  }

  .cls-4 {
    fill: #e09945;
  }

  .cls-4, .cls-5 {
    fill-rule: evenodd;
  }

  .cls-5 {
    fill: #f4e4c1;
  }

  #pupila {
    box-shadow: 0 0 40px 40px rgba(213, 145, 0, 0.435), 0 -10px 10px 15px rgb(0, 0, 0, 0.7), 0 10px 15px 10px rgb(255, 255, 255, 0.5);
  }

  .circle {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }

  #pista {
    background-image: url('/pista.webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* color: rgb(0, 0, 0); */
  }


  .img:hover .info {
    transform: translate(0);
  }


.vynil {
  perspective: 100px;
}

.stylus {
  /* aspect-ratio: 543.6/1250; */
transform-origin: right center;
/* transform: rotate(-90deg); */
/* transform: rotate(-25deg); */
filter: grayscale(1) drop-shadow(10px 10px 10px rgba(0, 0, 0, 1));
} ;

.light {
  pointer-events: none;
}

.nexus img {
  aspect-ratio: 500/645.19;
} 
  
 

.nexus::after {
  box-shadow: 0 -50px 40px rgb(0, 0, 0);
}

#nosotros {
  /* overflow-y: visible; */
}

/* .background-light {
  box-shadow: 0 0 1500px #3c1a00;
} */